<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ImageManager</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/home.js"></script>
</head>
<body>
<button type="submit" id="logout_button" onclick="logout()" style="visibility: hidden">Logout</button>
<div style="visibility: hidden" id="bodyDiv">
    <div id="userInfo">
        <label id="user-name-label"></label>
        <label id="user-phoneNumber-label"></label>
    </div>
    <div>
        <input id="image" type="file" accept="image/*" capture="camera"/>
        <button type="submit" id="but_upload">Send Image</button>
    </div>
</div>

<div class="login" th:if="${!isLoggedIn}" id="login_div">
    <input type="text" name="phoneNumber" placeholder="Phone number" id="phoneNumberInput"/></br>
    <input type="password" name="password" placeholder="Password" id="passwordInput"/></br>
    <label id="failureloginText_label" style="visibility: hidden"></label></br>

    <div class="form-group">
        <label for="remember" style="text-decoration: #3b003b; size: 20px; color: black"> Հիշե՞լ</label>
        <input id="remember" type="checkbox" name="remember-me" value="true"/>
    </div>

    <button type="submit" onclick="login()">Login</button>
    <!--    <input id="image" type="file" accept="image/*" capture="camera"/>-->
    <!--    <button type="submit" id="but_upload">Send Image</button>-->


    <!--    <video id="video" width="640" height="480" autoplay></video>-->
    <!--    <button id="snap">Snap Photo</button>-->
    <!--    <canvas id="canvas" width="640" height="480"></canvas>-->
</div>


</body>
</html>